In [11]:
a = 2.32+5.424 + 1
print(a)
b = 2.54 ** 3.2 # ov je isto sto i 2 * 2 * 2 * 2
print(b)
c = 25.232 / 2.2343
print(c)
cc = 2.1212 // 1.313
print(cc)
d = 30 / 10 
print(d)
dd = 31213.3214321 // 23432.422
print(dd)

8.744
19.745488982268437
11.293022423130285
1.0
3.0
1.0

In [13]:
a = 2 + 3 * 6 / 4 * 3
b = (2+3) * 6.12 / (1.211 * 0.21234)
c = -2.231 ** 8.00220
d = -23.212 / (-7.12)
e = 0.121000 // 0.0000012
f = -23 % 7
g = 2+2  # pokazuje da razmak nema veze da ce jos uvek da sabere
i = (5.121-1.1992) * ((7211 + 5409.123) / (-3.0921-(-1))) 
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)
print(i)

15.5
118.99959143473608
-614.8416244465764
3.2601123595505617
100833.0
5
4
-23657.37698073706

In [15]:
45 + 5 + (* 1) # pokazuje gresku jer nmg ovako da se stave dva znaka i da ti radis jer nema sa cim da se sabere

SyntaxError: cannot use starred expression here (714218536.py, line 1)

In [19]:
'Alice' * 'Bob' # pokazuje gresku jer ne mozes da mnozis dva str

TypeError: can't multiply sequence by non-int of type 'str'

In [21]:
'Alice' + 'Bob' * 12 # pokazuje da mozes da pomnozis str sa brojem

'AliceBobBobBobBobBobBobBobBobBobBobBobBob'

In [27]:
'Alice' + 'Bob' + 12 # pokazuje da ne moze da se radi druga operacija izmedju str i broja

TypeError: can only concatenate str (not "int") to str

In [36]:
print('Cao ja sam AI, kako se ti zoves')
my_name = 'Aleksa'
print(my_name)
print('Drago mi je sto smo se upoznali ' + my_name + ('Koliko imas godina'))
my_year = 19
print(my_year + 'Koliko ti imas godina') # ovde ce da izbaci gresku jer pokusavam da dodam int na str a to ne moze u ovom slucaju moram da stavm zarez kako bi radilo
print('Ja sam vestacka inteligencija koju je napravio covek')

Cao ja sam AI, kako se ti zoves
Aleksa
Drago mi je sto smo se upoznali AleksaKoliko imas godina

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [45]:
print('Cao ja sam AI, kako se ti zoves')
my_name = 'Aleksa'
print(my_name)
print('Drago mi je sto smo se upoznali ' + my_name + ('Koliko imas godina'))
my_year = 19
print(my_year, 'Koliko ti imas godina') # ovde ce da izbaci gresku jer pokusavam da dodam int na str a to ne moze u ovom slucaju moram da stavm zarez kako bi radilo
print('Ja sam vestacka inteligencija koju je napravio covek')

Cao ja sam AI, kako se ti zoves
Aleksa
Drago mi je sto smo se upoznali AleksaKoliko imas godina
19 Koliko ti imas godina
Ja sam vestacka inteligencija koju je napravio covek

In [51]:
print(round(7.7777 / 4.1212, 3))
print(7.7777 / 4.1212)
print(round(3.5))
print(round(4.5))
print(round(-3.5))
print(round(-4.5))
# ovo je primer koliko broj ima decimala i da ja mogu da biram na koliko decimala zelim da mi ga pajton zaokruzi, takodje ovo pokazuje da ce parne brojeve ako su na pola da zaokruzi na manji dok ako je broj neparam na pola da zaokruzi na vec i da ce ako su brojevi negativni isto da radi

1.887
1.8872415801222946
4
4
-4
-4

In [58]:
abs(-0)

0

In [3]:
print(len(''))

15